* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
    display: flex;
    justify-content: center;
    
    list-style: none;
    padding: 1rem;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a:hover {
    color: #007bff;
}
#hero {
    height: 100vh;
    baCKGROUND: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    position: relative;
}
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;

}
#hero h1,
#hero p,
#hero a {
    position: relative;
    color: #fff;
    z-index: 2;
}
section {
    baCKGROUND: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;
    padding: 4rem 0;
}
section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
#about {
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}
#about img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#cv {
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}
#cv ul {
    display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}
#cv ul li {
    margin: 0 1rem;
}
#projects {
    background-color: #fff;
    
    padding: 2rem;
}
.project {
    margin: 2rem auto;
    max-width: 600px;
    background: #ffffff43;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.project img {
    width: 100%;
    border-radius: 5px;
}